.card-class {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.card-class p {
    font-size: 12px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card-class button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card-class button:hover {
    opacity: 0.7;
}

.container-pricing {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-body-price {
    height: 100px;
}

.bg-grey {
    background-color: #f6f6f6;
}